/*
fonts

font-family: 'Playfair Display', serif;
font-family: 'Teko', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Anton', sans-serif;

font-family: 'Shadows Into Light', cursive;

*/



body{
	margin: 0;
	padding:0; 
	background: #ffffff;
	overflow: hidden;

}
h1{
	color:white !important;
	font-family: 'Bitter', serif;
	font-weight: 800;
}
.super_container
{
	width: 80%;
	position: relative;
	overflow: hidden;
}
.chart{
	position: relative;
	float: right; 
	
}
.container{
	width: 100vw;
}
.main{
	height: 80vh;
	display: block;
	/*background: #272727;*/
}
.header, .footer{
	height: 10vh;
	/*background:#272727;*/
}
.left, .right{
	width: 100%;
	display: inline-block;
}
.left{
	height: 80%;
	
	float: left;
	
}
.right{
	height: 20%;
	
	
}
.header{
	display: block;
	width: 80%;
	position: relative;
	left: 10%;
}
.logo{
	width: 40%;
	float: left;
	display: inline-block;
	height: 100%;
}
.logo>p{
	    margin: 7.5vh 10vh 4vh 7vh;
    font-size: 1.5vh;
    /* font-family: 'Bitter', serif; */
    font-family: 'Fjalla One', sans-serif;
    /* font-family: 'Anton', sans-serif; */
    color: #f57d5a;
    /* visibility: hidden; */
}
.items{
	width: 53%;
	display: inline-block;
	height: 100%;
	
}
.items>p{
	display: inline-block;
    margin:0; 
    font-family: Fjalla one;
    color: #e27d60;
    transition: all 0.3s cubic-bezier(0.53,-0.35, 0, 1.03);
    top: 1vh;
    position: relative;
    padding: 2.5vh 2vw;
}
.item.selected{
	color: #ffffff;
    text-decoration: underline;
    /* padding: 1vh; */
    font-size: 2vh;
    background: #f57d5a;
    margin:0; 
}
.item:hover{
	
    text-decoration: underline;
    /* padding: 1vh; */
    font-size: 2vh;
    border: solid #f57d5a 0.2vh ;
}
.sub-menu-item.selected{
	color: white;
	text-decoration: underline;
}
.sub-menu-item:hover{
	 text-decoration: underline;
	 background:white;
	 color:  #f57d5a;
	  
}
path:hover{
	fill:white !important;
	stroke-width:3;
	stroke: yellow;
}

.info>
.arc text{
	font: 12px sans-serif;
	text-anchor: middle;
}
.arc0 path{
	stroke:#f9f6f8;
	stroke-width:1;
}
.arc path{
	stroke:#272727;
	stroke-width:2;
}

.arc1 text{
	font:10px sans-serif;
	text-anchor: middle;
}

.arc1 path{
	stroke:#272727;
	stroke-width:2;
}
.arc2 path{
	stroke:#272727;
	stroke-width:1;
}
.arc3 path{
	stroke:#ff652f;
	stroke-width:1;
}
.arc4 path{
	stroke:#ff652f;
	stroke-width:1;
}
.arc5 path{
	stroke:#ff652f;
	stroke-width:1;
}
.main{
	height: 80vh;
	display: block;
}
.arc path, .arc1 path, .arc2 path, .arc3 path{
	fill: #f57d5a !important;
}
.arc path, .arc1 path, .arc2 path, .arc3 path, .arc4 path, .arc5 path{
	stroke: #f9f6f8  !important;
}
.arc4 path, .arc5 path{
	fill: #f9f6f8 !important;
}
.arc4 path, .arc5 path{
	stroke: #e27d60 !important;
}

hr{
	border: 1px solid #f9f6f8;
    position: relative;
    width: 12vw;
    left: 86%;
    top: -2.8vh;
}

.part>p{
	font-family: 'Fjalla One', serif;
    font-weight: 100;
    font-size: 1.2vh;
    text-align: left;
    position: relative;
    left: 162%;
    top: -24%;
    color: #f57d5a;
    transform: translate(-50%,0);
    transition: all 0.2s ease-in-out 0.05s
	 
}
g.container>g{
	transition: all 1s ease-in-out;
	transform-origin: 0 0;
}


	/*Switch*/
	.switch {
	  position: absolute;
	  display: inline-block;
	  width: 2.8vw;
	  height: 1.7vw;
	  z-index: 1;
	}

	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #a7a7a7;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 1.3vw;
	  width: 1.3vw;
	  left: 0.25vw;
	  bottom: 3px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #f57d5a;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(84%);
	  -ms-transform: translateX(84%);
	  transform: translateX(84%);
	}
	/*switch end*/



	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}

	#datepicker{
		
		z-index: 2;
		top: 20%;
		background: white;
	    border: 0;
	    position: absolute;
	    left: 25%;
	    width: 53%;
	    height: 3vh;
	}
	#datepicker::before
	{


	}
	.datetime>.date
	{
		color: white;
	    font-family: 'Fjalla one', serif;
	    top: 3vh;
	    left: 12%;
	    font-size: 2.8vh;

	}
	.datetime>.time
	{
		color: white;
	    font-family: "Fjalla one";
	    left: 9vh;
	    top: 3vh;
	    font-size: 2.73vh;
	}
	.datetime>.month
	{
		color: white;
	    font-family: 'Fjalla one', serif;
	    top: 3.25vh;
	    left: 5.5vh;
	    font-size: 1.4vh;

	}
	.datetime>.year
	{
		color: white;
	    font-family: 'Fjalla one', serif;
	    top: 4.85vh;
	    left: 5.5vh;
	    font-size: 1vh;
	    font-weight: bold;
	}
	.datetime>.ampm
	{
	    color: white;
	    font-family: 'Fjalla One', sans-serif;
	    top: 4.5vh;
	    left: 15.5vh;
	    font-size: 1.2vh;
	}
	.datetime{
	    background: #f57d5a;
	    width: 19.5vh;
	    height: 10.2vh;
	    position: relative;
	    float: right;

	}
	.datetime>div{
		position: absolute;
	}
	.pickdate{
		display:none;
	}
	.logo>#logo{
    height: 5vh;
    width: 5vh;
    background-image: url(../img/logo.png);
    background-size: contain;
    position: absolute;
    float: left;
    margin: 2vh 1vh 1vh 8vh;
	}

/* Tablets */
@media only screen and (min-width:600px)
{
.flex{
	width: 100vw;
	height: 100vh;
	background:#f57d5a;
	opacity: 1;
	position: absolute; 
	z-index: 3;
	transition: visibility 0.4s ease-in-out, opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}
.flex.hide{
	opacity: 0;
	visibility: none;
	transform: translate(0,-100%);
}
.flex>i{
	position: absolute;
	top: 90%;
	left: 50%;
	font-size: 4vh;
	color: #f9f6f8;
	transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out 2s;
	z-index: 3;
	opacity: 0;
	transform:translateX(-50%); 

}
.flex>i:hover{
	top: 92%;
	color: white;
	
}
.flex_info
{
	width: 60%;
    height: 95%;
    position: relative;
    top: 0%;
    left: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.flex_info::-webkit-scrollbar { width: 0 !important }
.flex_logo,.flex_header{
	transition: opacity 0.5s ease-in-out;
}
.flex_logo
{
	background: #ffffff00 url(../img/logo_white.png) no-repeat center top;
    background-size: contain;
    width: 100%;
    height: 12vh;
    position: relative;
}
.flex_header{
    width: 100%;
    height: 15%;
    position: relative;
 
}
.flex_header>p{
	font-family: 'Fjalla One', sans-serif;
	font-size: 4vh;
	text-align: center;
	color: #ffffff;
}
.flex_info>.break{
	width: 100%;
	height: 32vh;
}
.flex_header>p:nth-child(2){
	color: pink;
	display: none;
}
.flex_content
{
	width: 80%;
    float: none;
    position: relative;
    opacity: 1;
    left: 10%;
    transition: all 0.5s ease-in-out;

}
.flex_content>p{
	font-family: bitter;
	color: white;
	text-align: left;
	font-size: 2vh;
}
.flex_footer{
	position: absolute;
	height: 15vh;
	top: 85vh;
	width: 100%;
	background: rgb(245,125,90);
	background: linear-gradient(0deg, rgba(245,125,90,1) 0%, rgba(245,125,90,0) 100%);
	z-index: 2; 
}
.elements{
	width: 100%;
	height: 15vh;
	display: block;
	text-align: center;
	padding: 4vh 0;
}
.element{
	height: 9vh;
    width: 9vh;
    border-radius: 50%;
    background: #f9f6f8;
    display: inline-block;
    float: none;
    margin: 3%;

}

.transp{
	width: 100vw;
	height: 15vh;
	z-index: 4;
	opacity: 0; 
	display: block;
	position: absolute;
}
.transp>div{
	position: absolute;
    top: 5vh;
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2vh;
}
.transp>#one{
	left: 29%;
    top: 6vh;
    transform:translate(0%,-50%);
    transition: opacity 0.4s ease-in-out 0.6s, transform 0.4s ease-in-out 0.5s;	
}
.transp>#two{
	left: 50%;
    top: 6vh;
    transform:translate(0%,-50%);
    transition: opacity 0.4s ease-in-out 1s,  transform 0.4s ease-in-out 1s;	
}
.transp>#three{
	left: 45%;
    top: 82vh;
    transform:translate(0%,-50%);
    transition: opacity 0.4s ease-in-out 1.5s, transform 0.4s ease-in-out 1.5s;	
}
.left, .right{

	width: 100vw;
	position: relative;
	display: inline-block;
	
}
.left{
	
	float: left;
	height: 80%;
}
.right{
	height: 20%;
	
}
.main{
	height: 80vh;
	display: block;
	visibility: none;
	opacity: 0;
	transition: all 0.5s ease-in-out 2;
}
.main.show{
	opacity: 1;
	visibility: visible;
}
.menu_panel{
	width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background: #f57d5a; 
    visibility: hidden;
    transform-origin: top right;
    transform: scale(0.1);
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out 0.2s, visibility 0.5s ease-in-out,right 0.3s ease-in-out;
    opacity: 0;
    
}
.menu_panel.open{
	transform:scale(1);
	visibility: visible;
	opacity: 1;
	right: -10vw;
	
}
.switch{
	left: 90%;
	top:4%;
}
.menu{
	width: 7vw;
    height: 10vh;
    position: absolute;
    /*background: #14a76cf7;*/
    float: right;
    top: 0;
    right: 0;
    z-index: 2;
}
.menu>i{
	color: #f57d5a;
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 31%;
    font-size: 4vh;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease-in-out, opacity 0.4s ease-in-out;
}
.menu>i.fa-window-close{
	color:#ffffff;
}

.menu>.open{
	visibility: visible;
	opacity: 1;
	
}
.panel1, .panel2, .kundali_wheel{
	width: 100%;
	height: 100%;
	position: absolute;
	visibility: hidden;
}

.sub-menu1, .sub-menu2{
	padding: 10px 0px;
    background: #f57d5a;
    visibility: hidden;
    transform:translate(0, 50%);
	opacity: 0;
	transition: transform 0.6s ease-in-out, opacity 0.3s ease-in-out 0.2s; 
	position: absolute;
	top:1.1vh;
}
.sub-menu1.show{
	visibility: visible !important;
	opacity: 1;
	transform:translate(0,107%) !important; 
}
.sub-menu2.show{
	visibility: visible !important;
	opacity: 1;
	transform:translate(0,107%) !important; 
}

.sub-menu1>p, .sub-menu2>p{
	display: inline-block;
	margin: 0px 2vw; 
	color: #f9f6f8;
	font-family: "fjalla one";


}
.kundali_wheel{
	transition: transform 0.6s ease-in-out 0.2s, visibility 0.5s ease-in-out 0.6s, opacity 0.6s ease-in-out ;
	transform: translateX(0%);
	opacity: 1;
	visibility: visible; 
}
.kundali_wheel.hide{
	visibility: hidden;
	transform: translate(-100%, 0);
	opacity: 0; 
}
.info{
	width: 56%;
	height: 100%;
	float: left;
	overflow-y: auto;
	display: inline-block; 
	padding: 0px 7%; 
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	transition: transform 0.6s ease-in-out 0.2s, visibility 0.5s ease-in-out 0.6s, opacity 0.6s ease-in-out ;
	transform: translateX(0%); 
}
.info.hide{
	visibility: hidden;
	transform: translate(100%, 0);
	opacity: 0;
}
.info::-webkit-scrollbar { width: 0 !important }

.info>div{
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;

}
.info>div.show
{
	display: block;
	visibility: visible;
	opacity: 1;
	font-family: bitter;
}
.info>div>.break
{
	width: 100%;
	height: 30vh;
}
.info>div>h1, h2{
	color:#a7a7a7 !important;

}
.info>div>p{
	font-family: bitter;
}
.info>div>.img{
	width:100%;
	position: relative;
}
#Vaara>.img#one{
	background-image: url(../img/vaara.png);
    height: 33vh;
    background-size: contain;
    background-repeat: no-repeat;

}
#Vaara>.img#two{
	background-image: url(../img/horas.png);
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;

}
#Tithi>.img#two{
	background-image: url(../img/tithitypes.png);
    height: 81vh;
    background-size: contain;
    background-repeat: no-repeat;
}
#Tithi>.img#one{
	background-image: url(../img/tithiangle.png);
    height: 39vh;
    background-size: contain;
    background-repeat: no-repeat;
}
#Nakshatra>.img#one{
	background-image: url(../img/nakshatra.png);
    height: 74vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.marker{
	stroke-width:2;
	stroke: #000000 !important;
}
.panel{
	background:pink; 
	height: 80vh;
	width: 100%;
	position: absolute;
	transform:translate(-50%, 0);
	opacity: 0; 
	transition: all 0.4s ease-in-out;
}
.panel.big{
	width: 80vw;
    background: #ffffff00;
	opacity: 1;
	transform: translate(0,0); 
}
.panel .title{
	font-family: bitter;
    color: #c5cccc;
    font-size: 7vh;
    font-weight: 700;
    left: 7vw;
    top: -5vh;
    position: absolute;
    letter-spacing: 1vw;
}
.main-graphic{
	background: #c5cccc;
    width: 50vw;
    height: 34vw;
    position: absolute;
    top: 14vh;
    left: 7vw;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.main-graphic::-webkit-scrollbar { width: 0 !important }
.panel .text{
	position: absolute;
    font-family: bitter;
    width: 19vw;
    font-size: 2vh;
    left: 55vw;
    top: 10vw;
}
.timel{
	width: 100%;
	height: 80%;
	position: relative;
	top: 20%;
	left: 0%;
	opacity: 1;
	visibility: visible;
	background:#27272700; 
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
.timeline{
	width: 95%;
	height: 74%;
	position: relative;
	top: 20%;
	left: 10%;
	opacity: 1;
	visibility: visible;
	background:#27272700; 
	overflow: auto;
	transition: all 0.5s ease-in-out;
}
.timel.hide{
	opacity: 0;
	visibility: hidden;

}
.y-axis{
	height:50vh;
	width: 10vh;
	font-family: bitter;
	color: black;
	text-align: right;
	font-size: 1.5vh;
	position: absolute;
	top: 14%;
    left: -2%;
}
.y-axis>p{
	bottom: 0;
    position: absolute;
    right: 0;
}
.y-axis>p:nth-child(1){
	bottom: 24vh;
}
.y-axis>p:nth-child(2){
	bottom: 18.5vh;
}
.y-axis>p:nth-child(3){
	bottom: 12.5vh;
}
.y-axis>p:nth-child(4){
	bottom: 7vh;
}
.x-axis-mon>path{
	stroke: rgba(0,0,0,0);
}
.tick>line{
	stroke:#9E9E9E;
}
.tick>text{
	stroke:#9E9E9E;
}
.x-axis-day>path{
	stroke:#9E9E9E;
}

.tithi-circle{
	width: 70vh;
	height: 70vh;
	background: #ffffff00;
	position: absolute;
	/*top:15vh;
	left: 10vh; */
}

.back
{
	width: 70vw;
    height: 114vh;
    background: #f9f6f8;
    position: absolute;
    left: -3%;
    top: -29%;
    transform: rotate(0deg) translate(50%,-100%);
    z-index: -1;
    border-radius: 12vw;
    opacity:0;
    visibility: hidden;
 
    transition: opacity 1s ease-in-out 1s, transform 1.5s cubic-bezier(0.53,-0.35, 0.31, 1.32) 1s;
}
.back2
{
	width: 55vh;
    height: 55vh;
    background: #f57d5a40;
    position: absolute;
    left: 74%;
    top: 65%;
    transform: translate(-50%, 100%);
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
   
    transition: opacity 1s ease-in-out 1s, transform 1.2s cubic-bezier(0.53,-0.35, 0.31, 1.32) 0.8s, background 0.5s ease-in-out;
}

.back.show{
	transform: rotate(45deg) translate(0,0%);
	opacity:1;
	visibility: visible;

}
.back2.show{
	transform: rotate(45deg) translate(0,0%);
	opacity:1;
	visibility: visible;

}




}






/* Desktops */
@media only screen and (min-width:768px)
{

.left, .right{
	height: 100%;
	width: 50vw;
	position: relative;
	display: inline-block;
	transition: all 0.5s ease-in-out 0.5s;
}
.left{
	
	float: left;
}
.right{
	opacity: 0;
	transform: translate(0,50%);
	
}
.right.show{
	opacity: 1;
	transform: translate(0,0);
	
}
.main{
	height: 80vh;
	display: block;
	/*background: #272727;*/
	overflow:hidden; 
	transition: all 0.5s ease-in-out 1s;
}

.legends{
	width: 30%;
    padding: 18vh 0;
    height: 60vh;
    display: inline-block;
}
.part{
	height: 7vh;
    width: 17vh;
}
.part .circle{
	height: 5vh;
    width: 5vh;
    /* margin: 4vh; */
    position: relative;
    left: 50%;
    top: 25%;
    border-radius: 50%;
    border: 0.25vw solid #f57d5a;
    background: #f57d5a;
    transition: all 0.1s ease-in-out;
}


.part:hover >div{
	border: 0.25vw solid #f57d5a;
	background:white; 
	transform: scale(1.2) translate(-39%,0%);


}

.part:hover > p{
	color:#f57d5a;
	font-size: 1.5vh;
	transform: translate(-85%,0%); 
}

.part.selected>div{
	border: 0.25vw solid #f57d5a;
	background:white; 
	transform: scale(1.2) translate(-39%,0%);
}
.part.selected>p{
	color:#f57d5a;
	font-size: 1.5vh;
	transform: translate(-85%,0%); 
}



.arc .arc1 .arc2 .arc3 .arc4 .arc5 {
    
    pointer-events: all;
}




}
